{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "extends": ["prettier", "plugin:react/recommended"],
  "rules": {
    "no-unused-vars": "error",
    "semi": ["error", "never"],
    "quotes": ["error", "single"]
  }
}
