{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "extends": ["prettier", "plugin:react/recommended"],
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"]
  }
}
